deepspeed
accelerate
transformers
datasets
peft
hydra-core
omegaconf
wandb
einops
opencv-python-headless
imageio
imageio-ffmpeg
av
pandas
pyarrow
fastparquet
tqdm
matplotlib
scipy
scikit-learn
websocket-client
websockets
rich